<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>  
<div class="center jumbotron">
  <div class="text-center">
    <h1>お笑い選手権</h1>
    <%= link_to 'ほな、いこか!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>