// Place all the styles related to the owarais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 200px;
  height: auto;
}

ul.neta {
  list-style-type: none;
  display: flex;
}

ul.neta li {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
  overflow: scroll;
}